# ignore data files
*.h5

# ignore zip files
*.zip

# ignore python compile
*.pyc
*__pycache__
*.py.swp

# ignore downloaded online resource
*opensource_code

# ignore backups
backups

# ignore saved trained models and training history
trained_models

.envPath
*.png

# ignore experiment output
*/*outcome*



